.container {
  max-width: 100%;
  background-color: #282c34;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

#home {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  margin-top: 40px;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  justify-items: center;
}

input {
  min-height: 44px;
  border: 1px solid var(--gray);
  border-radius: 30px;
  padding: 4px 16px;
  outline: none;
  transition: border .2s ease-in-out;
}

input:focus {
  border: 1px solid #0ccc7c;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}